/* aku mah masih pemula puh sepuh */

h1 {
    font-size: 150px;
    color: green;
}

p {
    text-indent: 100px;
    text-transform: capitalize;
    word-spacing: 10px;
}

a { text-decoration: none; }